NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Opcional para mostrar nombres de usuario en gráficas e historial
NEXT_PUBLIC_GISS_USER_ID=
NEXT_PUBLIC_JORGE_USER_ID=

# Lista de emails autorizados para políticas SQL sugeridas (separados por coma)
GJ_ALLOWED_EMAILS=giss@example.com,jorge@example.com
